.vid-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px;
}

.thumb-a {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.vid-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    border-radius: 30px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.vid-author,
.vid-stats {
    font-size: 14px;
    color: rgb(96,96,96);
}

.vid-author {
    margin-bottom: 4px;
}

.vid-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
    padding-top: 60px;
}

@media (max-width: 700px) {
    .vid-grid{
        grid-template-columns: 1fr 1fr;        
    }    
}