* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.3s ease-in;
}

body {
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background);
    transition: ease 2s;

    --background: linear-gradient(45deg,rgb(47, 98, 67),rgb(39, 186, 197));

}

body.dark {
    --background: linear-gradient(45deg,#0F2027,#203A43,#2C5364);
}

.theme-toggle {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: var(--color);
    border: none;
    cursor: pointer;
    margin: 3px;

    --color: black
}

.theme-toggle.dark {
    --color: rgb(256,256,256);
}

.wrapper {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgcolor);
    flex-shrink: 2;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);

    --bgcolor: rgba(256,256,256,0.4);
    --shadow: 8px 8px 15px rgba(0,0,0,0.3);
}

.wrapper.dark {
    --bgcolor: rgba(0,0,0,0.4);
    --shadow: 8px 8px 40px rgba(256,256,256,0.3);
}

.output {
    background-color: transparent;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    font-size: 40px;
    border-bottom: solid rgba(0,128,128,0.4);
    margin-bottom: 10px;
    overflow-x: hidden;
}

.current-op,
.prev-op {
    width: 100%;
    text-align: end;
    background-color: transparent;
    border: none;
    color: var(--color);
}

.current-op.dark,
.prev-op.dark {
    --color: white
}

.prev-op {
    height: 30px;
    font-size: 20px;
}

.current-op {
    height: 50px;
    font-size: 40px;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    border: none;
    margin: 3px;
    font-size: 19px;
    font-weight: bold;
    background-color: var(--bg-button);
    cursor: pointer;
    color: var(--color);

    --bg-button: rgba(256,256,253,0);
    --color: black;
}

.button.dark{
    --bg-button: #fffff;
    --color: white;
}

.button:hover{
    background-color: rgba(213,119,124,0.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.button:active {
    background-color: rgba(256,256,256,0.3);
}

.row {
    display: flex;
    justify-content: space-between;
}

.button-op {
    color: rgb(23, 106, 55);
}

.button-op:hover{
    background-color: rgba(80,200,120,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    color:white;
}

.button-op:active {
    background-color: rgba(80,200,120,0.9);
    color: white;
}

.button-cancel {
    background-color: rgb(256,256,253);
}

.button-cancel:hover{
    background-color: rgb(200, 80, 80);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    color:white;
}

.button-cancel:active {
    background-color: rgb(184, 35, 45);
    color: white;
}

@media (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
}

@media (min-width: 600px) {
    .wrapper{
        width: 560px;
    }
}