* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.3s ease-in;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,rgb(47, 98, 67),rgb(39, 186, 197));
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.theme-toggle {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: black;
    border: none;
    cursor: pointer;
    align-items: end;
}

.wrapper {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(256,256,256,0.4);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 15px rgba(0,0,0,0.3);
}

.output {
    background-color: transparent;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    width: 500px;
    font-size: 40px;
    border-bottom: solid rgba(0,128,128,0.4);
    margin-bottom: 10px;
    overflow-x: hidden;
}

.current-op,
.prev-op {
    width: 100%;
    text-align: end;
    background-color: transparent;
    border: none
}

.prev-op {
    height: 30px;
    font-size: 20px;
}

.current-op {
    height: 50px;
    font-size: 40px;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    border: none;
    margin: 3px;
    font-size: 19px;
    font-weight: bold;
    background-color: rgba(256,256,253,0);
    cursor: pointer;
}

.button:hover{
    background-color: rgba(213,119,124,0.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.button:active {
    background-color: rgba(256,256,256,0.3);
}

.row {
    display: flex;
    justify-content: space-between;
}

.button-op {
    color: rgb(23, 106, 55);
}

.button-op:hover{
    background-color: rgba(80,200,120,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    color:white;
}

.button-op:active {
    background-color: rgba(80,200,120,0.9);
    color: white;
}

.button-cancel {
    background-color: rgb(256,256,253);
}

.button-cancel:hover{
    background-color: rgb(200, 80, 80);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    color:white;
}

.button-cancel:active {
    background-color: rgb(184, 35, 45);
    color: white;
}